// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin tabContent{
  background: #fff;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1rem;
  &--header {
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.2;
  }
  &--schedule {
    display: flex;
    p {
      font-size: 16px;
      color: #6c757d;
    }
    .event-time {
      width: 10%;
      i {
        font-size: 0.7rem;
      }
    }
  }
  .event-button {
    &__right {
      text-align: right;
      a {
        color: #666;
        font-size: 13px;
        font-weight: 400;
        margin-right: 8px;
      }
      a:hover {
        color: #e83e8c;
      }
    }
  }
}


.event-index-container {
  margin: 50px auto;
  width: 650px;
  &__title {
    color: #4d4d4d;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }
  .tab-content {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    span {
      line-height: 50px;
      opacity: 0.5;
      padding-right: 25px;
      padding-left: 25px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
    }
    .is-active {
      opacity: 1;
      border-top: 1px solid #262626;
    }
  }
  &__no-content {
    background: transparent;
    text-align: center;
    padding: 1rem;
    color: #6c757d
  }
  &__content.is-show {
    display: block;
    @include tabContent;
  }
  &__content {
    display: none;
    @include tabContent;
  }
}