.event-container {
  background-color: #f2f4f8;
  margin-top: 20px;
  padding: 0;
  width: 100%;
  height: 100vh;
  &__contents {
    width:  470px;
    padding: 25px 50px 25px 50px;
    background-color: white;
    margin: 0 auto;
    border-radius: 2px;
    &--form {
      width: 100%;
      .bootstrap-date {
        width: auto;
        display: inline-block;
      }
      label {
        color: #333;
      }
      .event-title {
        width: 100%;
        margin-bottom: 20px;
        &__input {
          width: 350px;
          border-bottom: solid 1px #ccc;
          border-right: none;
          border-left: none;
          border-top: none;
          border-radius: 0px;
        }
      }
      .event-start {
        margin-bottom: 20px;
      }
      .event-color {
        margin-top: 20px;
        span {
          margin-right: 5px;
        }
      }
      .event-submit {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        &__btn {
          text-align: center;
          width: 160px;
          height: 35px;
          border-radius: 30px;
          cursor: pointer;
        }
      }
    }
  }
}