.index-header {
  background-color: #eee;
  display: block;
  z-index: 10;
  position: sticky;
  top: 0;
  &__contents {
    align-items: center;
    max-width: 940px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    &--logo {
      &--title {
        font-size: 28px;
        letter-spacing: 3px;
        font-weight: bold;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
    &--edit {
      a {
        background: transparent;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: #1f1f1d;
      }
    }
  }
}