.index-header
  .index-header__contents
    .index-header__contents--logo
      .index-header__contents--logo--title
        = link_to root_path do
          calendar
    .index-header__contents--edit
      %ul
        %li#modal_open
          = link_to new_event_path do
            %i.fas.fa-edit
            予定を登録
        %li
          = link_to events_path do
            %i.far.fa-calendar-alt
            予定一覧